/* http://goffgrafix.com/pantone-rgb-100.php *?

/*  Pantone Colors 100-199  */

$pt-rgb-100:    rgb(244, 237, 124);
$pt-hex-100:    #F4ED7C;
           
$pt-rgb-101:    rgb(244, 237, 71);
$pt-hex-101:    #F4ED47;

$pt-rgb-102:    rgb(249, 232, 20);
$pt-hex-102:    #F9E814;

$pt-rgb-103:    rgb(198, 173, 15);
$pt-hex-103:    #C6AD0F;

$pt-rgb-104:    rgb(173, 155, 12);
$pt-hex-104:    #AD9B0C;

$pt-rgb-105:    rgb(130, 117, 15);
$pt-hex-105:    #82750F;

$pt-rgb-106:    rgb(247, 232, 89);
$pt-hex-106:    #F7E859;

$pt-rgb-107:    rgb(249, 229, 38);
$pt-hex-107:    #F9E526;

$pt-rgb-108:    rgb(249, 221, 22);
$pt-hex-108:    #F9DD16;

$pt-rgb-109:    rgb(249, 214, 22);
$pt-hex-109:    #F9D616;

$pt-rgb-110:    rgb(216, 181, 17);
$pt-hex-110:    #D8B511;

$pt-rgb-111:    rgb(170, 147, 10);
$pt-hex-110:    #AA930A;

$pt-rgb-112:    rgb(153, 132, 10);
$pt-hex-112:    #99840A;

$pt-rgb-113:    rgb(249, 229, 91);
$pt-hex-113:    #F9E55B;

$pt-rgb-114:    rgb(249, 226, 76);
$pt-hex-114:    #F9E24C;

$pt-rgb-115:    rgb(249, 224, 76);
$pt-hex-115:    #F9E04C;

$pt-rgb-116:    rgb(252, 209, 22);
$pt-hex-116:    #FCD116;

$pt-rgb-116-2X: rgb(247, 181, 12);
$pt-hex-116-2X: #F7B50C;

$pt-rgb-117:    rgb(198, 160, 12);
$pt-hex-117:    #C6A00C;

$pt-rgb-118:    rgb(170, 142, 10);
$pt-hex-118:    #AA8E0A;

$pt-rgb-119:    rgb(137, 119, 25);
$pt-hex-119:    #897719;

$pt-rgb-120:    rgb(249, 226, 127);
$pt-hex-120:    #F9E27F;

$pt-rgb-1205:   rgb(247, 232, 170);
$pt-hex-1205:   #F7E8AA;

$pt-rgb-121:    rgb(249, 224, 112);
$pt-hex-121:    #F9E070;

$pt-rgb-1215:   rgb(249, 224, 140);
$pt-hex-1215:   #F9E08C;

$pt-rgb-122:    rgb(252, 216, 86);
$pt-hex-122:    #FCD856;

$pt-rgb-1225:   rgb(255, 204, 73);
$pt-hex-1225:   #FFCC49;

$pt-rgb-123:    rgb(255, 198, 30);
$pt-hex-123:    #FFC61E;

$pt-rgb-1235:   rgb(252, 181, 20);
$pt-hex-1235:   #FCB514;

$pt-rgb-124:    rgb(224, 170, 15);
$pt-hex-124:    #E0AA0F;

$pt-rgb-1245:   rgb(191, 145, 12);
$pt-hex-1245:   #BF910C;

$pt-rgb-125:    rgb(181, 140, 10);
$pt-hex-125:    #B58C0A;

$pt-rgb-1255:   rgb(163, 127, 20);
$pt-hex-1255:   #A37F14;

$pt-rgb-126:    rgb(163, 130, 5);
$pt-hex-126:    #A38205;

$pt-rgb-1265:   rgb(124, 99, 22);
$pt-hex-1265:   #7C6316;

$pt-rgb-127:    rgb(244, 226, 135);
$pt-hex-127:    #F4E287;

$pt-rgb-128:    rgb(244, 219, 96);
$pt-hex-128:    #F4DB60;

$pt-rgb-129:    rgb(242, 209, 61);
$pt-hex-129:    #F2D13D;

$pt-rgb-130:    rgb(234, 175, 15);
$pt-hex-130:    #EAAF0F;

$pt-rgb-130-2X: rgb(226, 145, 0);
$pt-hex-130-2X: #E29100;

$pt-rgb-131:    rgb(198, 147, 10);
$pt-hex-131:    #C6930A;

$pt-rgb-132:    rgb(158, 124, 10);
$pt-hex-132:    #9E7C0A;

$pt-rgb-133:    rgb(112, 91, 10);
$pt-hex-133:    #705B0A;

$pt-rgb-134:    rgb(255, 216, 127);
$pt-hex-134:    #FFD87F;

$pt-rgb-1345:   rgb(255, 214, 145);
$pt-hex-1345:   #FFD691;

$pt-rgb-135:    rgb(252, 201, 99);
$pt-hex-135:    #FCC963;

$pt-rgb-1355:   rgb(252, 206, 135);
$pt-hex-1355:   #FCCE87;

$pt-rgb-136:    rgb(252, 191, 73);
$pt-hex-136:    #FCBF49;

$pt-rgb-1365:   rgb(252, 186, 94);
$pt-hex-1365:   #FCBA5E;

$pt-rgb-137:   rgb(252, 163, 17);
$pt-hex-137:    #FCA311;

$pt-rgb-1375:   rgb(249, 155, 12);
$pt-hex-1375:   #F99B0C;

$pt-rgb-138:    rgb(216, 140, 2);
$pt-hex-138:    #D88C02;

$pt-rgb-1385:   rgb(204, 122, 2);
$pt-hex-1385:   #CC7A02;

$pt-rgb-139:    rgb(175, 117, 5);
$pt-hex-139:    #AF7505;

$pt-rgb-1395:   rgb(153, 96, 7);
$pt-hex-1395:   #996007;

$pt-rgb-140:    rgb(122, 91, 17);
$pt-hex-140:    #7A5B11;

$pt-rgb-1405:   rgb(107, 71, 20);
$pt-hex-1405:   #6B4714;

$pt-rgb-141:    rgb(242, 206, 104);
$pt-hex-141:    #F2CE68;

$pt-rgb-142:    rgb(242, 191, 73);
$pt-hex-142:    #F2BF49;

$pt-rgb-143:    rgb(239, 178, 45);
$pt-hex-143:    #EFB22D;

$pt-rgb-144:    rgb(226, 140, 5)l;
$pt-hex-144:    #E28C05;

$pt-rgb-145:    rgb(198, 127, 7);
$pt-hex-145:    #C67F07;

$pt-rgb-146:    rgb(158, 107, 5);
$pt-hex-146:    #9E6B05;

$pt-rgb-147:    rgb(114, 94, 38);
$pt-hex-147:    #725E26;

$pt-rgb-148:    rgb(255, 214, 155);
$pt-hex-148:    #FFD69B;

$pt-rgb-1485:   rgb(255, 183, 119);
$pt-hex-1485:   #FFB777;

$pt-rgb-149:    rgb(252, 204, 147);
$pt-hex-149:    #FCCC93;

$pt-rgb-1495:   rgb(255, 153, 63);
$pt-hex-1495:   #FF993F;

$pt-rgb-150:    rgb(252, 173, 86);
$pt-hex-150:    #FCAD56;

$pt-rgb-1505:   rgb(244, 124, 0);
$pt-hex-1505:   #F47C00;

$pt-rgb-151:    rgb(247, 127, 0 );
$pt-hex-151:    #F77F00;

$pt-rgb-152:    rgb(221, 117, 0);
$pt-hex-152:    #DD7500;

$pt-rgb-1525:   rgb(181, 84, 0);
$pt-hex-1525:   #B55400;

$pt-rgb-153:    rgb(188, 109, 10);
$pt-hex-153:    #BC6D0A;

$pt-rgb-1535:   rgb(140, 68, 0);
$pt-hex-1535:   #8C4400;

$pt-rgb-154:    rgb(153, 89, 5);
$pt-hex-154:    #995905;

$pt-rgb-1545:   rgb(71, 34, 0);
$pt-hex-1545:   #472200;

$pt-rgb-155:    rgb(244, 219, 170);
$pt-hex-155:    #F4DBAA;

$pt-rgb-1555:   rgb(249, 191, 158);
$pt-hex-1555:   #F9BF9E;

$pt-rgb-156:    rgb(242, 198, 140);
$pt-hex-156:    #F2C68C;

$pt-rgb-1565:   rgb(252, 165, 119);
$pt-hex-1565:   #FCA577;

$pt-rgb-157:    rgb(237, 160, 79);
$pt-hex-157:    #EDA04F;

$pt-rgb-1575:   rgb(252, 135, 68);
$pt-hex-1575:   #FC8744;

$pt-rgb-158:    rgb(232, 117, 17);
$pt-hex-158:    #E87511;

$pt-rgb-1585:   rgb(249, 107, 7);
$pt-hex-1585:   #F96B07;

$pt-rgb-159:    rgb(198, 96, 5);
$pt-hex-159:    #C66005;

$pt-rgb-1595:   rgb(209, 91, 5);
$pt-hex-1595:   #D15B05;

$pt-rgb-160:    rgb(158, 84, 10);
$pt-hex-160:    #9E540A;

$pt-rgb-1605:   rgb(160, 79, 17);
$pt-hex-1605:   #A04F11;

$pt-rgb-161:    rgb(99, 58, 17);
$pt-hex-161:    #633A11;

$pt-rgb-1615:   rgb(132, 63, 15);
$pt-hex-1615:   #843F0F;

$pt-rgb-162:    rgb(249, 198, 170);
$pt-hex-162:    #F9C6AA;

$pt-rgb-1625:   rgb(249, 165, 140);
$pt-hex-1625:   #F9A58C;

$pt-rgb-163:    rgb(252, 158, 112);
$pt-hex-163:    #FC9E70;

$pt-rgb-1635:   rgb(249, 142, 109);
$pt-hex-1635:   #F98E6D;

$pt-rgb-164:    rgb(252, 127, 63);
$pt-hex-164:    #FC7F3F;

$pt-rgb-1645:   rgb(249, 114, 66);
$pt-hex-1645:   #F97242;

$pt-rgb-165:    rgb(249, 99, 2);
$pt-hex-165:    #F96302;

$pt-rgb-165-2X: rgb(234, 79, 0);
$pt-hex-165-2X: #EA4F00;

$pt-rgb-1655:   rgb(249, 86, 2);
$pt-hex-1655:   #F95602;

$pt-rgb-166:    rgb(221, 89, 0);
$pt-hex-166:    #DD5900;

$pt-rgb-1665:   rgb(221, 79, 5);
$pt-hex-1665:   #DD4F05;

$pt-rgb-167:    rgb(188, 79, 7);
$pt-hex-167:    #BC4F07;

$pt-rgb-1675:   rgb(165, 63, 15);
$pt-hex-1675:   #A53F0F;

$pt-rgb-168:    rgb(109, 48, 17);
$pt-hex-168:    #6D3011;

$pt-rgb-1685:   rgb(132, 53, 17);
$pt-hex-1685:   #843511;

$pt-rgb-169:    rgb(249, 186, 170);
$pt-hex-169:    #F9BAAA;

$pt-rgb-170:    rgb(249, 137, 114);
$pt-hex-170:    #F98972;

$pt-rgb-171:    rgb(249, 96, 58);
$pt-hex-171:    #F9603A;

$pt-rgb-172:    rgb(247, 73, 2);
$pt-hex-172:    #F74902;

$pt-rgb-173:    rgb(209, 68, 20);
$pt-hex-173:    #D14414;

$pt-rgb-174:    rgb(147, 51, 17);
$pt-hex-174:    #933311;

$pt-rgb-175:    rgb(109, 51, 33);
$pt-hex-175:    #6D3321;

$pt-rgb-176:    rgb(249, 175, 173);
$pt-hex-176:    #F9AFAD;

$pt-rgb-1765:   rgb(249, 158, 163);
$pt-hex-1765:   #F99EA3;

$pt-rgb-1767:   rgb(249, 178, 183);
$pt-hex-1767:   #F9B2B7;

$pt-rgb-177:    rgb(249, 130, 127);
$pt-hex-177:    #F9827F;

$pt-rgb-1775:   rgb(249, 132, 142);
$pt-hex-1775:   #F9848E;

$pt-rgb-1777:   rgb(252, 102, 117);
$pt-hex-1777:   #FC6675;

$pt-rgb-178:    rgb(249, 94, 89);
$pt-hex-178:    #F95E59;

$pt-rgb-1785:   rgb(252, 79, 89);
$pt-hex-1785:   #FC4F59;

$pt-rgb-1787:   rgb(244, 63, 79);
$pt-hex-1787:   #F43F4F;

$pt-rgb-1788:   rgb(239, 43, 45);
$pt-hex-1788:   #EF2B2D;

$pt-rgb-1788-2X:rgb(214, 33, 0);
$pt-hex-1788-2X:#D62100;

$pt-rgb-179:    rgb(226, 61, 40);
$pt-hex-179:    #E23D28;

$pt-rgb-1795:   rgb(214, 40, 40);
$pt-hex-1795:   #D62828;

$pt-rgb-1797:   rgb(204, 45, 48);
$pt-hex-1797:   #CC2D30;

$pt-rgb-180:    rgb(193, 56, 40);
$pt-hex-180:    #C13828;

$pt-rgb-1805:   rgb(175, 38, 38);
$pt-hex-1805:   #AF2626;

$pt-rgb-1807:   rgb(160, 48, 51);
$pt-hex-1807:   #A03033;

$pt-rgb-181:    rgb(124, 45, 35);
$pt-hex-181:    #7C2D23;

$pt-rgb-1810:   rgb(124, 33, 30);
$pt-hex-1810:   #7C211E;

$pt-rgb-1817:   rgb(91, 45, 40);
$pt-hex-1817:   #5B2D28;

$pt-rgb-182:    rgb(249, 191, 193);
$pt-hex-182:    #F9BFC1;

$pt-rgb-183:    rgb(252, 140, 153);
$pt-hex-183:    #FC8C99;

$pt-rgb-184:    rgb(252, 94, 114);
$pt-hex-184:    #FC5E72;

$pt-rgb-185:    rgb(232, 17, 45);
$pt-hex-185:    #E8112D;

$pt-rgb-185-2X: rgb(209, 22, 0);
$pt-hex-185-2X: #D11600;

$pt-rgb-186:    rgb(206, 17, 38);
$pt-hex-186:    #CE1126;

$pt-rgb-187:    rgb(175, 30, 45);
$pt-hex-187:    #AF1E2D;

$pt-rgb-188:    rgb(124, 33, 40);
$pt-hex-188:    #7C2128;

$pt-rgb-189:    rgb(255, 163, 178);
$pt-hex-189:    #FFA3B2;

$pt-rgb-1895:   rgb(252, 191, 201);
$pt-hex-1895:   #FCBFC9;

$pt-rgb-190:    rgb(252, 117, 142);
$pt-hex-190:    #FC758E;

$pt-rgb-1905:   rgb(252, 155, 178);
$pt-hex-1905:   #FC9BB2;

$pt-rgb-191:    rgb(244, 71, 107);
$pt-hex-191:    #F4476B;

$pt-rgb-1915:   rgb(244, 84, 124);
$pt-hex-1915:   #F4547C;

$pt-rgb-192:    rgb(229, 5, 58);
$pt-hex-192:    #E5053A;

$pt-rgb-1925:   rgb(224, 7, 71);
$pt-hex-1925:   #E00747;

$pt-rgb-193:    rgb(196, 0, 67);
$pt-hex-193:    #C40043;

$pt-rgb-1935:   rgb(193, 5, 56);
$pt-hex-1935:   #C10538;

$pt-rgb-194:    rgb(153, 33, 53);
$pt-hex-194:    #992135;

$pt-rgb-1945:  rgb(168, 12, 53);
$pt-hex-1945:   #A80C35;

$pt-rgb-1955:   rgb(147, 22, 56);
$pt-hex-1955:   #931638;

$pt-rgb-196:    rgb(250, 213, 225);
$pt-hex-196:    #FAD5E1;

$pt-rgb-197:    rgb(246, 165, 190);
$pt-hex-197:    #F6A5BE;

$pt-rgb-198:    rgb(239, 91, 132);
$pt-hex-198:    #EF5B84;

$pt-rgb-199:    rgb(160, 39, 75);
$pt-hex-199:    #A0274B;

$pt-rgb-200: rgb(196, 30, 58);
$pt-hex-200:#C41E3A;




$pt-rgb-201: rgb(163, 38, 56);
$pt-hex-201:#A32638;
$pt-rgb-202: rgb(140, 38, 51);
$pt-hex-202:#8C2633;
$pt-rgb-203: rgb(242, 175, 193);
$pt-hex-203:#F2AFC1;
$pt-rgb-204: rgb(237, 122 ,158);
$pt-hex-204:#ED7A9E;

$pt-rgb-205: rgb(229, 76 ,124);
$pt-hex-205:#E54C7C;
$pt-rgb-206: rgb(211, 5 ,71);
$pt-hex-206:#D30547;
$pt-rgb-207: rgb(192, 0 ,78);
$pt-hex-207:#C0004E;
$pt-rgb-208: rgb(142, 35 ,68);
$pt-hex-208:#8E2344;
$pt-rgb-209: rgb(117, 38 ,61);
$pt-hex-209:#75263D;
$pt-rgb-210: rgb(255, 160 ,191);
$pt-hex-210:#FFA0BF;

$pt-rgb-211: rgb(255, 119 ,168);
$pt-hex-211:#FF77A8;
$pt-rgb-212: rgb(249, 79 ,142);
$pt-hex-212:#F94F8E;
$pt-rgb-213: rgb(234, 15 ,107);
$pt-hex-213:#EA0F6B;
$pt-rgb-214: rgb(204, 2 ,86);
$pt-hex-214:#CC0256;
$pt-rgb-215: rgb(165, 5 ,68);
$pt-hex-215:#A50544;
$pt-rgb-216: rgb(124, 30, 63);
$pt-hex-216:#7C1E3F;

$pt-rgb-217: rgb(244, 191, 209);
$pt-hex-217:#F4BFD1;
$pt-rgb-218: rgb(237, 114, 170);
$pt-hex-218:#ED72AA;
$pt-rgb-219: rgb(226, 40, 130);
$pt-hex-219:#E22882;
$pt-rgb-220: rgb(170, 0, 79);
$pt-hex-220:#AA004F;
$pt-rgb-221: rgb(147, 0, 66);
$pt-hex-221:#930042;
$pt-rgb-222: rgb(112, 25, 61);
$pt-hex-222:#70193D;

$pt-rgb-223: rgb(249, 147, 196);
$pt-hex-223:#F993C4;
$pt-rgb-224: rgb(244, 107, 175);
$pt-hex-224:#F46BAF;
$pt-rgb-225: rgb(237, 40, 147);
$pt-hex-225:#ED2893;
$pt-rgb-226: rgb(214, 2, 112);
$pt-hex-226:#D60270;
$pt-rgb-227: rgb(173, 0, 91);
$pt-hex-227:#AD005B;
$pt-rgb-228: rgb(140, 0, 76);
$pt-hex-228:#8C004C;

$pt-rgb-229: rgb(109, 33, 63);
$pt-hex-229:#6D213F;
$pt-rgb-230: rgb(255, 160, 204);
$pt-hex-230:#FFA0CC;
$pt-rgb-231: rgb(252, 112, 186);
$pt-hex-231:#FC70BA;
$pt-rgb-232: rgb(244, 63, 165);
$pt-hex-232:#F43FA5;
$pt-rgb-233: rgb(206, 0, 124);
$pt-hex-233:#CE007C;
$pt-rgb-234: rgb(170, 0, 102);
$pt-hex-234:#AA0066;

$pt-rgb-235: rgb(142, 5, 84);
$pt-hex-235:#8E0554;
$pt-rgb-236: rgb(249, 175, 211);
$pt-hex-236:#F9AFD3;
$pt-rgb-2365: rgb(247, 196, 216);
$pt-hex-2365:#F7C4D8;
$pt-rgb-237: rgb(244, 132, 196);
$pt-hex-237:#F484C4;
$pt-rgb-2375: rgb(234, 107, 191);
$pt-hex-2375:#EA6BBF;
$pt-rgb-238: rgb(237, 79, 175);
$pt-hex-238:#ED4FAF;

$pt-rgb-2385: rgb(219, 40, 165);
$pt-hex-2385:#DB28A5;
$pt-rgb-239: rgb(224, 33, 158);
$pt-hex-239:#E0219E;
$pt-rgb-2395: rgb(196, 0, 140);
$pt-hex-2395:#C4008C;
$pt-rgb-240: rgb(196, 15, 137);
$pt-hex-240:#C40F89;
$pt-rgb-2405: rgb(168, 0, 122);
$pt-hex-2405:#A8007A;
$pt-rgb-241: rgb(173, 0, 117);
$pt-hex-241:#AD0075;

$pt-rgb-2415: rgb(155, 0, 112);
$pt-hex-2415:#9B0070;
$pt-rgb-242: rgb(124, 28, 81);
$pt-hex-242:#7C1C51;
$pt-rgb-2425: rgb(135, 0, 91);
$pt-hex-2425:#87005B;
$pt-rgb-243: rgb(242, 186, 216);
$pt-hex-243:#F2BAD8;
$pt-rgb-244: rgb(237, 160, 211);
$pt-hex-244:#EDA0D3;
$pt-rgb-245: rgb(232, 127, 201);
$pt-hex-245:#E87FC9;

$pt-rgb-246: rgb(204, 0, 160);
$pt-hex-246:#CC00A0;
$pt-rgb-247: rgb(183, 0, 142);
$pt-hex-247:#B7008E;
$pt-rgb-248: rgb(163, 5, 127);
$pt-hex-248:#A3057F;
$pt-rgb-249: rgb(127, 40, 96);
$pt-hex-249:#7F2860;
$pt-rgb-250: rgb(237, 196, 221);
$pt-hex-250:#EDC4DD;
$pt-rgb-251: rgb(226, 158, 214);
$pt-hex-251:#E29ED6;

$pt-rgb-252: rgb(211, 107, 198);
$pt-hex-252:#D36BC6;
$pt-rgb-253: rgb(175, 35, 165);
$pt-hex-253:#AF23A5;
$pt-rgb-254: rgb(160, 45, 150);
$pt-hex-254:#A02D96;
$pt-rgb-255: rgb(119, 45, 107);
$pt-hex-255:#772D6B;
$pt-rgb-256: rgb(229, 196, 214);
$pt-hex-256:#E5C4D6;
$pt-rgb-2562: rgb(216, 168, 216);
$pt-hex-2562:#D8A8D8;

$pt-rgb-2563: rgb(209, 160, 204);
$pt-hex-2563:#D1A0CC;
$pt-rgb-2567: rgb(191, 147, 204);
$pt-hex-2567:#BF93CC;
$pt-rgb-257: rgb(211, 165, 201);
$pt-hex-257:#D3A5C9;
$pt-rgb-2572: rgb(198, 135, 209);
$pt-hex-2572:#C687D1;
$pt-rgb-2573: rgb(186, 124, 188);
$pt-hex-2573:#BA7CBC;
$pt-rgb-2577: rgb(170, 114, 191);
$pt-hex-2577:#AA72BF;

$pt-rgb-258: rgb(155, 79, 150);
$pt-hex-258:#9B4F96;
$pt-rgb-2582: rgb(170, 71, 186);
$pt-hex-2582:#AA47BA;
$pt-rgb-2583: rgb(158, 79, 165);
$pt-hex-2583:#9E4FA5;
$pt-rgb-2587: rgb(142, 71, 173);
$pt-hex-2587:#8E47AD;
$pt-rgb-259: rgb(114, 22, 107);
$pt-hex-259:#72166B;
$pt-rgb-2592: rgb(147, 15, 165);
$pt-hex-2592:#930FA5;

$pt-rgb-2593: rgb(135, 43, 147);
$pt-hex-2593:#872B93;
$pt-rgb-2597: rgb(102, 0, 140);
$pt-hex-2597:#66008C;
$pt-rgb-260: rgb(104, 30, 91);
$pt-hex-260:#681E5B;
$pt-rgb-2602: rgb(130, 12, 142);
$pt-hex-2602:#820C8E;
$pt-rgb-2603: rgb(112, 20, 122);
$pt-hex-2603:#70147A;
$pt-rgb-2607: rgb(91, 2, 122);
$pt-hex-2607:#5B027A;

$pt-rgb-261: rgb(94, 33, 84);
$pt-hex-261:#5E2154;
$pt-rgb-2612: rgb(112, 30, 114);
$pt-hex-2612:#701E72;
$pt-rgb-2613: rgb(102, 17, 109);
$pt-hex-2613:#66116D;
$pt-rgb-2617: rgb(86, 12, 112);
$pt-hex-2617:#560C70;
$pt-rgb-262: rgb(84, 35, 68);
$pt-hex-262:#542344;
$pt-rgb-2622: rgb(96, 45, 89);
$pt-hex-2622:#602D59;

$pt-rgb-2623: rgb(91, 25, 94);
$pt-hex-2623:#5B195E;
$pt-rgb-2627: rgb(76, 20, 94);
$pt-hex-2627:#4C145E;
$pt-rgb-263: rgb(224, 206, 224);
$pt-hex-263:#E0CEE0;
$pt-rgb-2635: rgb(201, 173, 216);
$pt-hex-2635:#C9ADD8;
$pt-rgb-264: rgb(198, 170, 219);
$pt-hex-264:#C6AADB;
$pt-rgb-2645: rgb(181, 145, 209);
$pt-hex-2645:#B591D1;

$pt-rgb-265: rgb(150, 99, 196);
$pt-hex-265:#9663C4;
$pt-rgb-2655: rgb(155, 109, 198);
$pt-hex-2655:#9B6DC6;
$pt-rgb-266: rgb(109, 40, 170);
$pt-hex-266:#6D28AA;
$pt-rgb-2665: rgb(137, 79, 191);
$pt-hex-2665:#894FBF;
$pt-rgb-267: rgb(89, 17, 142);
$pt-hex-267:#59118E;
$pt-rgb-268: rgb(79, 33, 112);
$pt-hex-268:#4F2170;

$pt-rgb-2685: rgb(86, 0, 140);
$pt-hex-2685:#56008C;
$pt-rgb-269: rgb(68, 35, 89);
$pt-hex-269:#442359;
$pt-rgb-2695: rgb(68, 35, 94);
$pt-hex-2695:#44235E;
$pt-rgb-270: rgb(186, 175, 211);
$pt-hex-270:#BAAFD3;
$pt-rgb-2705: rgb(173, 158, 211);
$pt-hex-2705:#AD9ED3;
$pt-rgb-2706: rgb(209, 206, 221);
$pt-hex-2706:#D1CEDD;

$pt-rgb-2707: rgb(191, 209, 229);
$pt-hex-2707:#BFD1E5;
$pt-rgb-2708: rgb(175, 188, 219);
$pt-hex-2708:#AFBCDB;
$pt-rgb-271: rgb(158, 145, 198);
$pt-hex-271:#9E91C6;
$pt-rgb-2715: rgb(147, 122, 204);
$pt-hex-2715:#937ACC;
$pt-rgb-2716: rgb(165, 160, 214);
$pt-hex-2716:#A5A0D6;
$pt-rgb-2717: rgb(165, 186, 224);
$pt-hex-2717:#A5BAE0;

$pt-rgb-2718: rgb(91, 119, 204);
$pt-hex-2718:#5B77CC;
$pt-rgb-272: rgb(137, 119, 186);
$pt-hex-272:#8977BA;
$pt-rgb-2725: rgb(114, 81, 188);
$pt-hex-2725:#7251BC;
$pt-rgb-2726: rgb(102, 86, 188);
$pt-hex-2726:#6656BC;
$pt-rgb-2727: rgb(94, 104, 196);
$pt-hex-2727:#5E68C4;
$pt-rgb-2728: rgb(48, 68, 181);
$pt-hex-2728:#3044B5;

$pt-rgb-273: rgb(56, 25, 122);
$pt-hex-273:#38197A;
$pt-rgb-2735: rgb(79, 0, 147);
$pt-hex-2735:#4F0093;
$pt-rgb-2736: rgb(73, 48, 173);
$pt-hex-2736:#4930AD;
$pt-rgb-2738: rgb(45, 0, 142);
$pt-hex-2738:#2D008E;
$pt-rgb-274: rgb(43, 17, 102);
$pt-hex-274:#2B1166;
$pt-rgb-2745: rgb(63, 0, 119);
$pt-hex-2745:#3F0077;

$pt-rgb-2746: rgb(63, 40, 147);
$pt-hex-2746:#3F2893;
$pt-rgb-2747: rgb(28, 20, 107);
$pt-hex-2747:#1C146B;
$pt-rgb-2748: rgb(30, 28, 119);
$pt-hex-2748:#1E1C77;
$pt-rgb-275: rgb(38, 15, 84);
$pt-hex-275:#260F54;
$pt-rgb-2755: rgb(53, 0, 109);
$pt-hex-2755:#35006D;
$pt-rgb-2756: rgb(51, 40, 117);
$pt-hex-2756:#332875;

$pt-rgb-2757: rgb(20, 22, 84);
$pt-hex-2757:#141654;
$pt-rgb-2758: rgb(25, 33, 104);
$pt-hex-2758:#192168;
$pt-rgb-276: rgb(43, 33, 71);
$pt-hex-276:#2B2147;
$pt-rgb-2765: rgb(43, 12, 86);
$pt-hex-2765:#2B0C56;
$pt-rgb-2766: rgb(43, 38, 91);
$pt-hex-2766:#2B265B;
$pt-rgb-2767: rgb(20, 33, 61);
$pt-hex-2767:#14213D;

$pt-rgb-2768: rgb(17, 33, 81);
$pt-hex-2768:#112151;
$pt-rgb-277: rgb(181, 209, 232);
$pt-hex-277:#B5D1E8;
$pt-rgb-278: rgb(153, 186, 221);
$pt-hex-278:#99BADD;
$pt-rgb-279: rgb(102, 137, 204);
$pt-hex-279:#6689CC;
$pt-rgb-280: rgb(0, 43, 127);
$pt-hex-280:#002B7F;
$pt-rgb-281: rgb(0, 40, 104);
$pt-hex-281:#002868;

$pt-rgb-282: rgb(0, 38, 84);
$pt-hex-282:#002654;
$pt-rgb-283: rgb(155, 196, 226);
$pt-hex-283:#9BC4E2;
$pt-rgb-284: rgb(117, 170, 219);
$pt-hex-284:#75AADB;
$pt-rgb-285: rgb(58, 117, 196);
$pt-hex-285:#3A75C4;
$pt-rgb-286: rgb(0, 56, 168);
$pt-hex-286:#0038A8;
$pt-rgb-287: rgb(0, 56, 147);
$pt-hex-287:#003893;

$pt-rgb-288: rgb(0, 51, 127);
$pt-hex-288:#00337F;
$pt-rgb-289: rgb(0, 38, 73);
$pt-hex-289:#002649;
$pt-rgb-290: rgb(196, 216, 226);
$pt-hex-290:#C4D8E2;
$pt-rgb-2905: rgb(147, 198, 224);
$pt-hex-2905:#93C6E0;
$pt-rgb-291: rgb(168, 206, 226);
$pt-hex-291:#A8CEE2;
$pt-rgb-2915: rgb(96, 175, 221);
$pt-hex-2915:#60AFDD;

$pt-rgb-292: rgb(117, 178, 221);
$pt-hex-292:#75B2DD;
$pt-rgb-2925: rgb(0, 142, 214);
$pt-hex-2925:#008ED6;
$pt-rgb-293: rgb(0, 81, 186);
$pt-hex-293:#0051BA;
$pt-rgb-2935: rgb(0, 91, 191);
$pt-hex-2935:#005BBF;
$pt-rgb-294: rgb(0, 63, 135);
$pt-hex-294:#003F87;
$pt-rgb-2945: rgb(0, 84, 160);
$pt-hex-2945:#0054A0;

$pt-rgb-295: rgb(0, 56, 107);
$pt-hex-295:#00386B;
$pt-rgb-2955: rgb(0, 61, 107);
$pt-hex-2955:#003D6B;
$pt-rgb-296: rgb(0, 45, 71);
$pt-hex-296:#002D47;
$pt-rgb-2965: rgb(0, 51, 76);
$pt-hex-2965:#00334C;
$pt-rgb-297: rgb(130, 198, 226);
$pt-hex-297:#82C6E2;
$pt-rgb-2975: rgb(186, 224, 226);
$pt-hex-2975:#BAE0E2;

$pt-rgb-298: rgb(81, 181, 224);
$pt-hex-298:#51B5E0;
$pt-rgb-2985: rgb(81, 191, 226);
$pt-hex-2985:#51BFE2;
$pt-rgb-299: rgb(0, 163, 221);
$pt-hex-299:#00A3DD;
$pt-rgb-2995: rgb(0, 165, 219);
$pt-hex-2995:#00A5DB;
